<main> 
        {% extends 'base.html' %}
        {% block main %}

        <h1> Contact Form</h1>
        <hr>
        <h4>Fill in this form to contact the site owners.</h4>
        <br>

        <form action="{{url_for('contact')}}" method="POST" >
            
            <div class="form-label">{{ myform.name.label }}</div>
            <h6>(Required)</h6> 
                <p>Please enter your full name </p>
                {{myform.name}}

                
                <div id="para"><label> {{ myform.email.label }}<h6>(Required)</h6></label></div>
                <p>Please enter your email address </p>
                {{myform.email}}

               
                <div id="para"><label> {{ myform.subject.label }}<h6>(Required)</h6></label></div>
                <p>Please enter the subject for your message </p>
                {{myform.subject}}

               
                
                <div id="para"><label> {{ myform.message.label }}<h6>(Required)</h6></label></div>
                <p>Please enter the message you would like to send.</p>
                {{myform.message}}

                

            <button type="submit">Send</button>
            {{ myform.csrf_token }}
           </form>
        
        
        {% endblock %}
