<main> 
        {% extends 'base.html' %}
        {% block main %}

        <h1> Contact Form</h1>
        <hr>
        <h4>Fill in this form to contact the site owners.</h4>
        <br>

        <form action="{{url_for('contact')}}" method="POST" >
            
            <div class="form-label">{{ myform.name.label }}</p></div>
            <h6>(Required)</h6> 
            <p>Please enter your full name </p>
                {{myform.name}}
            <br>

                
            <div class="form-label">{{ myform.email.label }}</div>
            <h6>(Required)</h6>
            <p>Please enter your email address </p>
                {{myform.email}}
            <br>

               
            <div class="form-label"> {{ myform.subject.label }}</div>
            <h6>(Required)</h6>
            <p>Please enter the subject for your message </p>
                {{myform.subject}}
            <br>

               
                
            <div class="form-label"> {{ myform.message.label }}</div>
            <h6>(Required)</h6>
            <p>Please enter the message you would like to send.</p>
                {{myform.message}}
            <br>

                

            <div id="btn"><button type="submit">Send</button></div>
            {{ myform.csrf_token }}
           </form>
        
        
        {% endblock %}
