<main> 
        {% extends 'base.html' %}
        {% block main %}

        <h1> Contact Form</h1>
        <hr>
        <h4>Fill in this form to contact the site owners.</h4>
        <br>

        <form action="{{url_for('contact')}}" method="POST" >
            
            <div>
                <label for="">{{ myform.name.label }} <div id="required">(Required)</div></label> 
                {{ myform.csrf_token }}
                
                
                {{ myform.name(size=45) }}

                {{ myform.email.label }}
                {{ myform.email(size=35) }}

                {{ myform.subject.label }}
                {{ myform.subject(size=70) }}

                {{ myform.message.label }}
                {{ myform.message(size=500) }}

            <button type="submit">Send</button>
           </form>
        
        
        {% endblock %}
